* { /*RESET*/
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: lightblue;
    padding: 20px 0;
}

nav {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
}

.menu a {
    text-decoration: none;
}

.sanjose {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 2px solid black;
}

form select {
    border: 1px solid;
}

.semana {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 4%;
}

.dia {
    flex: 1; /*1/4*/
    background-color: lightgray;
    /* height: 100px; */
    text-align: center;
    padding: 20px 0;
}

.dia img {
    border-radius: 50%;
    width: 100px;
    margin: 15px 0;
}

.temperaturas {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.tempMax {
    color: red;
}

.tempMin {
    color: blue;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.cookie {
    background-color: lightgray;
    width: 1000px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.cookie div {
    width: 65%;
}